/all_gene_disease_pmid_associations.tsv.gz
/all_variant_disease_pmid_associations.tsv.gz
/all_variant_disease_pmid_associations_final.tsv.gz
/all_variant_disease_pmid_associations_final.tsv.gz.tbi
/clinvar.vcf.gz
/clinvar.vcf.gz.tbi
/longevity.csv
