/104.zip
/homo_sapiens_vep_104_GRCh38.tar.gz
/plugins
/cache
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa.dict
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa.amb
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa.ann
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa.0123
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa.pac
/species/Homo_sapiens/Homo_sapiens.GRCh38.dna.primary_assembly.fa.bwt.2bit.64
