test
*.class
**.log
**.old
**.tmp

logs

#VIM specific
tags
.*.swp
.*.swo

#MAC OS specific
.DS_Store

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea
.idea/*
#### dna-seq
services/data/cromwell-client-logs/*
services/data/cromwell-executions/*
services/data/cromwell-workflow-logs/*
dna-seq-pipeline/inputs/OC_plus.json
/homo_sapiens_vep_103_GRCh38.tar.gz

#### from data
#ignore data root level, logs and bakups
/data/*
#dvc wants folders themselves ignored as files...
!**.dvc
!/data/cromwell-client-logs
!/data/cromwell-executions
!/data/cromwell-workflow-logs
!/data/databases/mysql
!/data/ensembl
!/data/gwas
#track innards
!/data/cromwell-client-logs/*
!/data/cromwell-executions/*
!/data/cromwell-workflow-logs/*
!/data/databases/mysql/*
!/data/ensembl/*
!/data/gwas/*
newton*
#track local gitignore
!/data/.gitignore
