version: '3'
services:
  sambamba:
    build:
      context: .
      dockerfile: Dockerfile.sambamba
    image: justdnaseq/sambamba:1.0.1
    deploy:
      replicas: 0
  fastp:
    build:
      context: .
      dockerfile: Dockerfile.fastp
    image: justdnaseq/fastp:1.1.0   # tags the built image with this name
    deploy:
      replicas: 0
  bwa-mem2:
    build:
      context: .
      dockerfile: Dockerfile.bwa-mem2
    image: justdnaseq/bwa-mem2:2.3
    deploy:
      replicas: 0
  minimap2:
    build:
      context: .
      dockerfile: Dockerfile.minimap2
    image: justdnaseq/minimap2:2.30
    deploy:
      replicas: 0
  cromwell:
    build:
      context: .
      dockerfile: Dockerfile.cromwell   # or just Dockerfile
    # image: "quay.io/comp-bio-aging/cromwell:master"
    volumes:
      - ./data:/data
      - ./config:/config
      - /var/run/docker.sock:/var/run/docker.sock
    command: ["/wait-for-it/wait-for-it.sh mysql-db:3306 -t 120 -- java -Dconfig.file=/config/cromwell/application.conf -jar /app/cromwell.jar server"]
    ports:
      - "8000:8000"
  mysql-db:
    image: "mysql:8"
    environment:
      - MYSQL_ROOT_PASSWORD=cromwell
      - MYSQL_DATABASE=cromwell_db
    volumes:
      - ./config/mysql/:/docker-entrypoint-initdb.d
      - ./config/my.cnf:/etc/mysql/my.cnf
      - ./data/databases/mysql:/var/lib/mysql
      - ./data/databases/mysql:/var/lib/mysql-files
    ports:
      - "3307:3306"
    cap_add:
      - ALL
  cromwell-client:
    image: quay.io/comp-bio-aging/cromwell-web:latest
    environment:
      - CROMWELL=http://cromwell:8000
    ports:
      - 8001:8001
    volumes:
      - /data:/data
      - /etc/hosts:/etc/hosts
    deploy:
      placement:
        constraints:
          - node.role == manager
      replicas: 1
      mode: replicated
      restart_policy:
        condition: on-failure
